[Desktop Entry]
Name=PhpStorm
Comment=PhpStorm IDE
Exec=/usr/bin/phpstorm %U
Terminal=false
Type=Application
Icon=/opt/PhpStorm/bin/phpstorm.png
Categories=GNOME;GTK;Development;
MimeType=x-scheme-handler/phpstorm
