[Desktop Entry]
Name=PhpStorm
Comment=PhpStorm IDE
Exec=/opt/PhpStorm/bin/phpstorm.sh %U
Terminal=false
Type=Application
Icon=/opt/PhpStorm/bin/webide.png
Categories=GNOME;GTK;Development;
