phpstorm (0.0.1) stable; urgency=medium

  * This is not a normal changelog file. It gets updated in the packaging progress, by update.sh
  * The version is derived from the PhpStorm-x.x.x.tar.gz 

 -- Casper Langemeijer <casper@langemeijer.eu>  Sat, 22 Aug 2015 14:08:19 +0200
